@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 12px;
  }
}
